# Created by .gitignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### IntelliJ IDEA
.idea/
*.iml

### Sublime Text:
*.sublime-project
*.sublime-workspace

### Gradle:
.gradle/
build/
gradle/
.gradletasknamecache
